/* :root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
} */


.primary-text {
    color: #010906;
  }
  
  .second-text {
    color: #161616;
  }
  
  .primary-bg {
    background-color: #030705;
  }
  
  .secondary-bg {
    background-color: #c1efde;
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
     /* background-image: linear-gradient(
      to right, 
       #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef 
    ); */
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    background-color: #70cbf0; 
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
   .btn.btn-primary{
    border-radius: 12px;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid black;
  } 
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    text-align: center;
    margin: 10px;
    width: 300px;
    
    /* height: 50px; */
   
  }
  .navbar{
    background-color: #70cbf0;
    padding-top: 50px;
    
  }
  .card-main{
    display: flex;
    margin-top: 100px;
  } 
  
  .card h2{
    font-size: 26px;
  }
  
  .btn.btn.btn-primary {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn.btn.btn-primary:hover {
    background-color: #45a049;
  }
  /* .card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  } */
  /* .modal fade .modal-dialog .modal-content .modal-dialog modal-dialog-scrollable .btn btn-primary{
    border-radius: 12px;
    margin-top: 150px;
    padding: 40px;
    border: 2px solid black;
  } */
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  